.addCartProduct {
  font-size: 20px;
  background-color: $dark;
  border: 0;
  &:hover{
    background-color: #000;
  }
}

.icon-clear {
  font-size: 36px !important;
}


.delOrderAllBtn {
  border: 1px solid $dark;
  color: $dark;
  &:hover {
    background: $dark;
    color: #ffffff;
  }
}

.list-info {
  margin: 50px auto 0;
  color: #ffffff;
  border: 0;
  padding: 8px 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.nav-hover {
  color: #000 !important;
  font-weight: bold !important;
  &:hover {
    color: $primary !important;
  }
} 

.logo a{
  color: #000;
  &:hover {
    color: #8D8D8D;
  }
}

.icon-edit {
  color: $dark;
&:hover {
  color: $primary;
}
}